@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg_main:#141c2f;
    --bg_main2:#f5e9e9;

    --bg_second:#33529a59;
    --bg_second2: #ffffff;
    
    --txt_main:#f1f7fd;
    --txt_main2:#292929;

    --bg__btn:#3864bd;
    --bg__btn2:#bdbdbd;

    
    --hove__a:#5692db;

    --bg_main__300:#a3cbed;
    --bg_main__3002:#525252;

    --font__family__2:'Courier New', Courier, monospace;
    
}

body{
    min-width: 320px;
    max-width: 785px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif; 
    background-color:var(--bg_main);
    color: var(--txt_main);   
    font-size: 18px;  
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* hero */
.hero__header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.hero__dark__btn{
    color: var(--txt_main);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    letter-spacing: 3px;
    font-size: .8rem;
}
.hero__figure{
    width: 25px;
    height: 25px;
    /* outline: auto; */
}
.hero__img{
    /* outline: auto; */
    width: 100%;
    height: 100%;
}
/* data */
.main__form{
    background-color: var(--bg_second);
}
.main__form{
    border-radius: .8rem;
}

.form__search{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form__figure{
    width: 30px;
    height: 30px;
}
.form__icon{
    width: 100%;
    height: 100%;
}
.form__search__input{
    padding: 15px 0 ;
    background-color: transparent;
    color: var(--bg_main__300);
    border: none;
}

.form__search__input:focus{
    outline: none;
}
.form__search__input::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
.form__search__input::placeholder{
    color: var(--txt_main);
}
.form__btn{
    background-color: var(--bg__btn);
    color: var(--txt_main);
    padding: 10px 14px;
    font-weight: bold;
    border-radius: .4rem;
    transition: background-color .2s, color .2s;
    border: none;
}
.form__btn:hover{
    background-color: var(--bg_main__300);
    color: var(--bg_main);

    
}

/* data */
.main__content{
    margin: 1.5rem 0;
    background-color: var(--bg_second);
    border-radius: 15px;
    
}
.main__user{
    
    padding-top: 1.5rem ;

    display: grid;
    
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(2,1fr);
    column-gap: 1rem;
}

.user__figure{  
    width: 90px;
    height: 90px;
    place-self: center;
    border-radius: 100%;
    overflow: hidden;
}
.user__img{
    width: 100%;
    height: 100%;
}

.user__inf{   
    grid-column: 2/4;
    grid-row: 1/2; 
    font-weight: 100;
    display: flex;
    flex-direction: column;  
    gap: .5rem;
}
.user__inf__name{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.inf__name{
    font-weight: 600;
}
.inf__username{
    font-family:console;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--hove__a);
}
.user__date{
    font-family:var(--font__family__2);
    font-weight: 300;
    font-size: .9rem;
}
/* bio */
.main__bio{
    
    grid-column: 1/4;
    grid-row: 2/3;
    place-self: center;
}
.main__paragraph{    
    word-spacing: .3rem;
    font-size: .8rem;
    font-weight: 300;
    font-family: var(--font__family__2);
}
/* rectanguo data*/
.main__data{  
    border-radius: 10px;
    background-color: var(--bg_main);
    display: flex;
    justify-content: space-evenly;
}
.conteiner{
    padding: .8rem 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.data__inf{
    font-family: var(--font__family__2);
    font-weight: 300;
    font-size: .8rem;
}
.data__number{
    font-size: 1rem;
    font-weight: 500;
}

/* main more */

.main__more{
    padding: 1.5rem 0 ;
    display: flex;
    justify-content:start;
    gap: 1rem;
}
.more_container{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.more__inf{
    
    display: flex;
    align-items: center;
    gap: .5rem;
}
.more__figure{   
    width: 16px;
    height: 18px;
}
.more__img{  
    width: 100%;
    height: 100%;
}
.more__text{
    color: var(--txt_main);
    text-decoration: none;
    font-size: .9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.more__text__a:hover{
    color: var(--hove__a);
}

@media screen and (width > 630px)  {
    /* form */
    .form__search{
        justify-content: space-between;
        padding: 0 2rem ;
        gap: 1rem;
    }
    .form__search__input{
        /* outline: auto; */
        width: 80%;
    }
    .form__btn{
        width: 100px;
     
    }
    /* data */
    .main__user{
     
        padding: 1.5rem 0;
        
    }
    
    .user__figure{
        
       
        width: 130px;
        height: 130px;
        
        grid-column: 1/2;
        grid-row: 1/3;
        
    }
    .user__inf{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        /* outline: auto; */

        align-self: center;

    }
    .inf__name{
        font-size: 1.5rem;
        
        
    }
    .inf__username{
        font-size: 16px;
    
    }
    .user__date{
        
        font-size: 1rem;
    }
    /* bio */
    .main__bio{
        grid-column: 2/4;
        grid-row: 2/3;
        width: 100%;
        /* place-self: center; */
    }
    .main__paragraph{
       font-size: 1rem;
    }
    .main__data{
        
        width: 85%;

    }
    .data__inf{
        font-size: 1rem;
    }
    .data__number{
        font-size: 1.3rem;

    }
    .main__more{
        width: 80%;
        justify-content:space-evenly;
        gap: 4rem;
    }

    .more__inf{
        gap: 1rem;
    }

    .more__figure{
        width: 28px;
        height: 32px;
    }
    .more__text{
        font-size: 1rem;
     }
    
    
}